#devpages{
    p.double {border-style: double;}  
    background-color:#565656;
    border: 4px solid #505050; 
    border-radius: 12px;
    padding: 5px;
    font-size: 24px;
    width: 300px;
    
}
.yuiag{font-size: 24px;}
#other{
    p.double {border-style: double;}  
    background-color:#565656;
    border: 4px solid #7CCAEE; 
    border-radius: 12px;
    padding: 5px;
    font-size: 24px;
    width: 300px;
}
